# DBSCAN (Denisity Based Special Clustering Of Application with Noise)

In [2]:
import numpy as a
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("D:\Python\ML\Datasets\Mall_Customers.csv")

In [4]:
df.head()

   CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0           1    Male   19                  15              39
1           2    Male   21                  15              81
2           3  Female   20                  16               6
3           4  Female   23                  16              77
4           5  Female   31                  17              40

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
df["Outlook"] = le.fit_transform(df["Outlook"])
df["Temperature"] = le.fit_transform(df["Temperature"])
df["Humidity"] = le.fit_transform(df["Humidity"])
df["Wind"] = le.fit_transform(df["Wind"])
df["Play Tennis"] = le.fit_transform(df["Play Tennis"])

In [ ]:
df.head()

In [ ]:
df.isna().sum()

In [ ]:
from sklearn.neighbors import NearestNeighbors
n = NearestNeighbors(n_neighbors=2)
n_fit = n.fit(df)
distance, index = n_fit.kneighbors(df)
distance = np.sort(distance,axis=0)
distance  = distance[:,1]
plt.plot(distance)
plt.ylabel("Epsilon")
plt.xlabel("Distance")

In [ ]:
from sklearn.cluster import DBSCAN

In [ ]:
model  = DBSCAN(eps = 5,min_samples=3)
model.fit(df)
model.labels_