In [2]:
import pandas as pd
import numpy as np
# a = pd.Series([18, 11,9, 5, 18, 4, 15, 13, 18])
# print(a.mode())
# print(a.median())

In [5]:
#1 From Given data set print first five and last five rows
df = pd.read_csv("D:\Python\ClassRoom\Pandas Groupby and Data Selection Assignment\Automobile_dataset.csv")
print(df)

    Unnamed: 0  index      company   body-style  wheel-base  length  \
0            0      0  alfa-romero  convertible        88.6   168.8
1            1      1  alfa-romero  convertible        88.6   168.8
2            2      2  alfa-romero    hatchback        94.5   171.2
3            3      3         audi        sedan        99.8   176.6
4            4      4         audi        sedan        99.4   176.6
..         ...    ...          ...          ...         ...     ...
56          56     81   volkswagen        sedan        97.3   171.7
57          57     82   volkswagen        sedan        97.3   171.7
58          58     86   volkswagen        sedan        97.3   171.7
59          59     87        volvo        sedan       104.3   188.8
60          60     88        volvo        wagon       104.3   188.8

   engine-type num-of-cylinders  horsepower  average-mileage    price
0         dohc             four         111               21  13495.0
1         dohc             four         111               21  16500.0
2         ohcv              six         154               19  16500.0
3          ohc             four         102               24  13950.0
4          ohc             five         115               18  17450.0
..         ...              ...         ...              ...      ...
56         ohc             four          85               27   7975.0
57         ohc             four          52               37   7995.0
58         ohc             four         100               26   9995.0
59         ohc             four         114               23  12940.0
60         ohc             four         114               23  13415.0

[61 rows x 11 columns]

In [6]:
#2 clean data and update csv file
# df = df.fillna('NaN',inplace=True)
df.fillna('NaN',inplace = True)
df.to_csv("Automobile_dataset.csv")
print(df)

    Unnamed: 0  index      company   body-style  wheel-base  length  \
0            0      0  alfa-romero  convertible        88.6   168.8
1            1      1  alfa-romero  convertible        88.6   168.8
2            2      2  alfa-romero    hatchback        94.5   171.2
3            3      3         audi        sedan        99.8   176.6
4            4      4         audi        sedan        99.4   176.6
..         ...    ...          ...          ...         ...     ...
56          56     81   volkswagen        sedan        97.3   171.7
57          57     82   volkswagen        sedan        97.3   171.7
58          58     86   volkswagen        sedan        97.3   171.7
59          59     87        volvo        sedan       104.3   188.8
60          60     88        volvo        wagon       104.3   188.8

   engine-type num-of-cylinders  horsepower  average-mileage    price
0         dohc             four         111               21  13495.0
1         dohc             four         111               21  16500.0
2         ohcv              six         154               19  16500.0
3          ohc             four         102               24  13950.0
4          ohc             five         115               18  17450.0
..         ...              ...         ...              ...      ...
56         ohc             four          85               27   7975.0
57         ohc             four          52               37   7995.0
58         ohc             four         100               26   9995.0
59         ohc             four         114               23  12940.0
60         ohc             four         114               23  13415.0

[61 rows x 11 columns]

In [54]:
# 3 Find the most expensive car company name
def convert(data):
    return float(data)
df['price'] = df['price'].apply(convert)
# ne = df[df.price == df.price.max()]
# print(ne[['company','price']])
out = df.loc[df.price == df.price.max(), ['company','price']]
print(out)

          company    price
35  mercedes-benz  45400.0

In [8]:
#4 Print all Toyota car details
print(df[df.company == 'toyota'])

    Unnamed: 0  index company body-style  wheel-base  length engine-type  \
48          48     66  toyota  hatchback        95.7   158.7         ohc
49          49     67  toyota  hatchback        95.7   158.7         ohc
50          50     68  toyota  hatchback        95.7   158.7         ohc
51          51     69  toyota      wagon        95.7   169.7         ohc
52          52     70  toyota      wagon        95.7   169.7         ohc
53          53     71  toyota      wagon        95.7   169.7         ohc
54          54     79  toyota      wagon       104.5   187.8        dohc

   num-of-cylinders  horsepower  average-mileage    price
48             four          62               35   5348.0
49             four          62               31   6338.0
50             four          62               31   6488.0
51             four          62               31   6918.0
52             four          62               27   7898.0
53             four          62               27   8778.0
54              six         156               19  15750.0

In [26]:
# 5 Find total cars per company
# print(df['company'].count())
company = df['company']
# print(dir(company))
print(company.value_counts())

toyota           7
bmw              6
mazda            5
nissan           5
volkswagen       4
audi             4
mercedes-benz    4
mitsubishi       4
alfa-romero      3
isuzu            3
honda            3
porsche          3
jaguar           3
chevrolet        3
volvo            2
dodge            2
Name: company, dtype: int64

In [60]:
# 6 Find Each Company`s Highest price Car
# company = df.groupby('company')
# for key,value in company.groups.items():
#     print(key,value.max())

company = df.groupby(['company'])
print(company['company','price'].max())

                     company    price
company
alfa-romero      alfa-romero  16500.0
audi                    audi  18920.0
bmw                      bmw  41315.0
chevrolet          chevrolet   6575.0
dodge                  dodge   6377.0
honda                  honda  12945.0
isuzu                  isuzu   6785.0
jaguar                jaguar  36000.0
mazda                  mazda  18344.0
mercedes-benz  mercedes-benz  45400.0
mitsubishi        mitsubishi   8189.0
nissan                nissan  13499.0
porsche              porsche  37028.0
toyota                toyota  15750.0
volkswagen        volkswagen   9995.0
volvo                  volvo  13415.0
<ipython-input-60-eb0f44f202d6>:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(company['company','price'].max())

In [66]:
# 7 Find the average mileage of each car making company
# print(df)
company = df.groupby('company')
print(company['company','average-mileage'].mean())

               average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                33.333333
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000
<ipython-input-66-645ee5a1ffec>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(company['company','average-mileage'].mean())

In [74]:
# 8 Sort all cars by Price in descending order column and display first five rows
sort_by_ascending = df.sort_values(by = ['price'],ascending  = False,kind = 'quicksort')
print(sort_by_ascending.head())

    Unnamed: 0  index        company   body-style  wheel-base  length  \
35          35     47  mercedes-benz      hardtop       112.0   199.2
11          11     14            bmw        sedan       103.5   193.8
34          34     46  mercedes-benz        sedan       120.9   208.1
46          46     62        porsche  convertible        89.5   168.9
12          12     15            bmw        sedan       110.0   197.0

   engine-type num-of-cylinders  horsepower  average-mileage    price
35        ohcv            eight         184               14  45400.0
11         ohc              six         182               16  41315.0
34        ohcv            eight         184               14  40960.0
46        ohcf              six         207               17  37028.0
12         ohc              six         182               15  36880.0

In [80]:
# 9 Concatenate two data frames using the following conditions
GermanCars =pd.DataFrame( {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]})
japaneseCars =pd.DataFrame( {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]})
new_data = pd.concat([GermanCars,japaneseCars],keys=['Germany','Jarmany'])
print(new_data)

               Company   Price
Germany 0         Ford   23845
        1     Mercedes  171995
        2          BMV  135925
        3         Audi   71400
Jarmany 0       Toyota   29995
        1        Honda   23600
        2       Nissan   61500
        3  Mitsubishi    58900

In [82]:
# 10 Merge two data frames using the following condition
# Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.
Car_Price = pd.DataFrame({'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]})
car_Horsepower = pd.DataFrame({'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]})

new_data = pd.merge(Car_Price,car_Horsepower,on='Company')
print(new_data)

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160