In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("store_data.csv")
df.head()

           shrimp    almonds     avocado  ... frozen smoothie spinach olive oil
0         burgers  meatballs        eggs  ...             NaN     NaN       NaN
1         chutney        NaN         NaN  ...             NaN     NaN       NaN
2          turkey    avocado         NaN  ...             NaN     NaN       NaN
3   mineral water       milk  energy bar  ...             NaN     NaN       NaN
4  low fat yogurt        NaN         NaN  ...             NaN     NaN       NaN

[5 rows x 20 columns]

In [8]:
trans = []
for i in range(df.shape[0]):
  trans = [str(df.values[i,j]) for j in range(df.shape[1]) if str(df.values[i,j]) != 'nan']

In [10]:
trans

['eggs', 'frozen smoothie', 'yogurt cake', 'low fat yogurt']

In [13]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=586f5b79740f182b204b3d1e9941e2a5c598e70db6e7aaff5a4012ca89296181
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [14]:
from apyori import apriori

In [18]:
rules = apriori(trans,min_suppor = 0.03,min_confidence = 0.2,min_lift = 2,max_length = 2)

In [19]:
df_rules =pd.DataFrame(list(rules))

In [20]:
df_rules

     items  support                            ordered_statistics
0   (c, a)     0.25  [((a), (c), 0.5, 2.0), ((c), (a), 1.0, 2.0)]
1   (a, k)     0.25  [((a), (k), 0.5, 2.0), ((k), (a), 1.0, 2.0)]
2   (l, a)     0.25  [((a), (l), 0.5, 2.0), ((l), (a), 1.0, 2.0)]
3   (u, a)     0.50  [((a), (u), 1.0, 2.0), ((u), (a), 1.0, 2.0)]
4   (w, a)     0.25  [((a), (w), 0.5, 2.0), ((w), (a), 1.0, 2.0)]
5   (y, a)     0.50  [((a), (y), 1.0, 2.0), ((y), (a), 1.0, 2.0)]
6   (c, k)     0.25  [((c), (k), 1.0, 4.0), ((k), (c), 1.0, 4.0)]
7   (u, c)     0.25  [((c), (u), 1.0, 2.0), ((u), (c), 0.5, 2.0)]
8   (c, y)     0.25  [((c), (y), 1.0, 2.0), ((y), (c), 0.5, 2.0)]
9   (h, f)     0.25  [((f), (h), 0.5, 2.0), ((h), (f), 1.0, 2.0)]
10  (i, f)     0.25  [((f), (i), 0.5, 2.0), ((i), (f), 1.0, 2.0)]
11  (l, f)     0.25  [((f), (l), 0.5, 2.0), ((l), (f), 1.0, 2.0)]
12  (m, f)     0.25  [((f), (m), 0.5, 2.0), ((m), (f), 1.0, 2.0)]
13  (n, f)     0.25  [((f), (n), 0.5, 2.0), ((n), (f), 1.0, 2.0)]
14  (w, f)     0.25  [((f), (w), 0.5, 2.0), ((w), (f), 1.0, 2.0)]
15  (z, f)     0.25  [((f), (z), 0.5, 2.0), ((z), (f), 1.0, 2.0)]
16  (i, h)     0.25  [((h), (i), 1.0, 4.0), ((i), (h), 1.0, 4.0)]
17  (m, h)     0.25  [((h), (m), 1.0, 4.0), ((m), (h), 1.0, 4.0)]
18  (n, h)     0.25  [((h), (n), 1.0, 4.0), ((n), (h), 1.0, 4.0)]
19  (s, h)     0.25  [((h), (s), 1.0, 2.0), ((s), (h), 0.5, 2.0)]
20  (z, h)     0.25  [((h), (z), 1.0, 4.0), ((z), (h), 1.0, 4.0)]
21  (m, i)     0.25  [((i), (m), 1.0, 4.0), ((m), (i), 1.0, 4.0)]
22  (i, n)     0.25  [((i), (n), 1.0, 4.0), ((n), (i), 1.0, 4.0)]
23  (i, s)     0.25  [((i), (s), 1.0, 2.0), ((s), (i), 0.5, 2.0)]
24  (z, i)     0.25  [((i), (z), 1.0, 4.0), ((z), (i), 1.0, 4.0)]
25  (u, k)     0.25  [((k), (u), 1.0, 2.0), ((u), (k), 0.5, 2.0)]
26  (y, k)     0.25  [((k), (y), 1.0, 2.0), ((y), (k), 0.5, 2.0)]
27  (l, u)     0.25  [((l), (u), 1.0, 2.0), ((u), (l), 0.5, 2.0)]
28  (l, w)     0.25  [((l), (w), 1.0, 4.0), ((w), (l), 1.0, 4.0)]
29  (l, y)     0.25  [((l), (y), 1.0, 2.0), ((y), (l), 0.5, 2.0)]
30  (m, n)     0.25  [((m), (n), 1.0, 4.0), ((n), (m), 1.0, 4.0)]
31  (m, s)     0.25  [((m), (s), 1.0, 2.0), ((s), (m), 0.5, 2.0)]
32  (z, m)     0.25  [((m), (z), 1.0, 4.0), ((z), (m), 1.0, 4.0)]
33  (n, s)     0.25  [((n), (s), 1.0, 2.0), ((s), (n), 0.5, 2.0)]
34  (z, n)     0.25  [((n), (z), 1.0, 4.0), ((z), (n), 1.0, 4.0)]
35  (z, s)     0.25  [((s), (z), 0.5, 2.0), ((z), (s), 1.0, 2.0)]
36  (u, w)     0.25  [((u), (w), 0.5, 2.0), ((w), (u), 1.0, 2.0)]
37  (u, y)     0.50  [((u), (y), 1.0, 2.0), ((y), (u), 1.0, 2.0)]
38  (w, y)     0.25  [((w), (y), 1.0, 2.0), ((y), (w), 0.5, 2.0)]

In [64]:
lhs = []
rhs = []
conf = []
lift = []
for i in range(df_rules.shape[0]):
    order = df_rules['ordered_statistics'][i][0]
    lhs.append(list(order[0]))
    rhs.append(order[1])    
    conf.append(order[2])    
    lift.append(order[3])

In [69]:
report = pd.DataFrame({'Confidence': list(conf)})
report

TypeError: ignored